@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;700&family=Oswald:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Oswald", "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand: #E58D08; /* Warmer amber/orange ton aus der Referenz */
  --color-brand-light: #Ffb545;
  --color-brand-dark: #cc7800;
}

body {
  @apply text-neutral-900 bg-white;
}
